body {
    background-color: #555;
}

canvas {
    position: absolute;
    height: 100%;
    aspect-ratio: 16/9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}